:root{
    --bg: #8399ab ;
    --bgSoft: rgb(13, 96, 121);
    --text: rgb(10, 9, 9);
    --textSoft: rgb(154, 149, 149);
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--bg);
    color: var(--text);
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: 1366px;
    padding: 0 50px 0 50px;
    margin: auto;
    min-height: 100vh;
    /* background-color: #bf9d9d ; For determining the area of the container*/
    display:flex;
    flex-direction: column;
    justify-content: space-between;

}

/*Navbar start*/
 .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
 }

 .logo{
    font-weight: bold;
    font-size: 24px;
 }

.links{
    display: flex;
    align-items: center;
    gap:20px;
    font-size: 20px;
}

.searchButton{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--bgSoft);
    color: var(--textSoft);
    padding: 5px;
    border-radius: 10px;
}

/*Navbar end*/

/*Footer Start*/
/* .footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    font-size: 14px;
} */

.social{
    display: flex;
    gap:10px;

}
/*footer end*/

@media (max-width:1536px) {
    .container{
        max-width: 1366px;
    }
}

@media (max-width:1366px) {
    .container{
        max-width: 1280px;
    }
}

@media (max-width:1280px) {
    .container{
        max-width: 1024px;
    }
}

@media (max-width:1024px) {
    .container{
        max-width: 768px;
    }
}

@media (max-width:768px) {
    .container{
        max-width: 640px;
        padding: 0 10px 0 10px;
    }
    .links{
        font-size: 14px;
    }
}

@media (max-width:640px) {
    .container{
        max-width: 475px;
    }
}

